# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

http:
  # For extra security set this to only accept connections on localhost if NGINX is on the same machine
  # Uncommenting this will mean that you can only reach Home Assistant using the proxy, not directly via IP from other clients.
  # server_host: 127.0.0.1
  use_x_forwarded_for: true
  # You must set the trusted proxy IP address so that Home Assistant will properly accept connections
  # Set this to your NGINX machine IP, or localhost if hosted on the same machine.
  trusted_proxies: 192.168.0.203

template:
  - sensor:
      - default_entity_id: sensor.ai_description
        name: AI Camera Description
        state: "{{ states('sensor.ai_description') }}"
      - name: Time of Day
        unique_id: time_of_day_sensor
        state: >
          {% set hour = now().hour %}
          {% if hour < 5 %}
            Night
          {% elif hour < 7 %}
            Early Morning
          {% elif hour < 12 %}
            Morning
          {% elif hour < 13 %}
            Midday
          {% elif hour < 17 %}
            Afternoon
          {% elif hour < 20 %}
            Evening
          {% elif hour < 22 %}
            Late Evening
          {% else %}
            Night
          {% endif %}
      - name: Last Detected License Plate
        unique_id: last_detected_license_plate
        state: "{{ state_attr('event.g6_turret_vehicle', 'license_plate') | default('None', true) }}"
        icon: mdi:card-text
        attributes:
          detection_time: "{{ state_attr('event.g6_turret_vehicle', 'event_time') }}"
          confidence: "{{ state_attr('event.g6_turret_vehicle', 'confidence') }}"
          event_type: "{{ state_attr('event.g6_turret_vehicle', 'event_type') }}"

# CodeProject.AI ALPR Integration
codeproject_alpr:
  server_url: "http://192.168.0.66:32168"
  min_confidence: 0.2
